<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coffee_background_img_8"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coffee_background_img_8"
        android:supportsRtl="true"
        android:theme="@style/Theme.RanjeCoffeeManagement"
        tools:targetApi="31">
        <activity
            android:name=".ViewData"
            android:theme="@style/Theme.RanjeCoffeeManagement"
            android:exported="true" />
        <activity
            android:name=".DataInputActivity"
            android:theme="@style/Theme.RanjeCoffeeManagement"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.RanjeCoffeeManagement"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.RanjeCoffeeManagement" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.RanjeCoffeeManagement"
            android:exported="true" />
    </application>

</manifest>